<!-- on utilise
  la méthode searchLaunched pour émettre
  un événement en parallèle de la recherche
  qui contiendra la chaine de caractère associée
  à cette recherche
  searchLaunched a été définie dans navbar-movies.component.ts
-->
<!-- attention à importer en parallèle
FormsModule (dans app.module), lorsqu'on utilise ngModel ou
sinon  il y aura une erreur -->

<h1>
  Chercher un film à ajouter :
</h1>

  <br/>

<div>
  <input type="text" [(ngModel)]="searchValue" />
  <button (click)="this.searchLaunched()"> rechercher </button>
</div>

