


<div class="wrapper">
  <div class="chat-box" [class.hidden]="isOpen === true">
    <div class="header">
      <h1>Tu veux une recommendation pour un film ?</h1>
      <div class="close" (click)="closeChat()"></div>
    </div>
    <div class="message-box">
      <div #typewriterElement></div>
      <li *ngFor="let message of messages; let i = index">

<!--        <div #typewriterElement></div>-->

       <!--div #typewriterElement></div> -->
        <span *ngIf="message.authorId !==this.aiName"><strong>{{message.authorId}}:</strong> {{message.text}}
        </span>

      </li>


    </div>
    <section>
      <textarea [(ngModel)]="typeMessageUser" placeholder="écris-lui !" (keyup.enter)="sendMessage()"></textarea>
      <button (click)="sendMessage()" mat-raised-button>Send</button>
    </section>
  </div>

  <div class="bubble" (click)="openChat()" [class.hidden]="isOpen === true">

  </div>
</div>
