<!--
"movie_search"
remplace main.component.ts
-->


<!--search activate est un émeteur de navbar qui va donner
  à startSearch (qui) l'élément qu'il doit chercher-->
<app-navbar-movies (searchActivate)="startSearch($event)"> </app-navbar-movies>

<button (click)="this.changeHideStatus()">{{ statusSearch }}</button>

<!-- on va donner
  le contenu du champ
  "listFilms" du père
  au champ "ListFilm"
  de movielist
  movielist-->

<app-movie-list *ngIf="!hideSearchResult"[listMovies]="listMoviesTransfer">

</app-movie-list>






