name: builder-test-history-work



    
on: 
  pull_request:
        branches:
          - main

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: node:20
      
    steps:
      - uses: actions/checkout@v3
        with:
          node-version: 20
            - run :mvn clean test
            - run :mvn spring-boot:run
      #- run: npm ci
      #- run: npm test
      #- run: npm run build
