name:builder-test-history-work

on: 
  pull_request:
        branches:
          - main

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image:node:22.9.0
    steps:
      - uses: actions/checkout@v3
        with:
          node-version:22.9.0
      - run: npm ci
      - run: npm test
      - run: npm run build
