

<form (ngSubmit)="userService.disconnect(connectionService)">

  <button type="submit" class="btn btn-info"> Déconnexion ? </button>

</form>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3"> Qu'aimerais-tu faire ? :</h2>
          <ul class="text-center list-inline py-3">


            <br>
            <br>

            <li>
              <a routerLink="listMovies" class="btn btn-info"> consulter ma liste de films ?</a>
            </li>

            <br>
            <br>

            <li>
              <a routerLink="SearchMovie" class="btn btn-info"> ajouter un film ? </a>
            </li>

            <br>
            <br>


          </ul>
        </div>

      </div>
      <!--
      nécesaire ou non ? (vient du fichier qui a servi de base (app.component)
      <router-outlet></router-outlet>
      -->
    </div>
  </div>
</div>


<!--<app-user-list></app-user-list>-->

